<!DOCTYPE html>
<html>
<body>
  <h1>Color palettes</h1>

  <h2>Groups</h2>
  
    <h3>Amazon Web Services - Frederick</h3>
    <div>border-orange-400</div>
    <h3>Frederick Code and Coffee</h3>
    <div>border-fuchsia-600</div>
    <h3>Frederick Open Source</h3>
    <div>border-yellow-400</div>
    <h3>Frederick Web Technology</h3>
    <div>border-red-600</div>
    <h3>Python Frederick</h3>
    <div>border-blue-500</div>
    <h3>WordPress Frederick</h3>
    <div>border-sky-600</div>

  <h2>Hackathons</h2>
  
    <h3>2016</h3>
    <div>border-violet-500</div>
</body>
</html>