{% extends "base.html" %}

{% block title %}{{ event.name }} - techfrederick Community{% endblock %}

{% block content %}
  <div class="max-w-3xl mx-auto">
    <h1 class="text-2xl sm:text-5xl text-center text-slate-700 font-extralight tracking-widest leading-relaxed mb-4 py-8 border-b-4 border-{{ group.color }}">{{ event.name }}</h1>
    <div class="px-4 pb-2 sm:px-0 text-base sm:text-lg font-light flex flex-row gap-4 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
      </svg>
      <div>
        Hosted by <a href="/groups/{{ group.slug }}/" class="underline text-tflightblue hover:text-tfdarkblue">{{ group.name }}</a>
        {% if event.joint_with %}
          jointly with other groups
        {% endif %}
      </div>
    </div>
    <div class="px-4 pb-2 sm:px-0 text-base sm:text-lg font-light flex flex-row gap-4 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
      </svg>
      <div>
        On <span class="font-medium">{{ event.when.strftime('%a., %b. %-d, %Y') }}</span> from <span class="font-medium">{{ event.when.strftime('%-I%p').lower() }} to {{ event.end.strftime('%-I%p').lower() }}</span>
      </div>
    </div>
    <div class="px-4 pb-8 sm:px-0 text-base sm:text-lg font-light flex flex-row gap-4 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
      </svg>
      <div>
        At <span class="font-medium">{{ event.venue.address_1 }}, {{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zip }}</span>
      </div>
    </div>
    <div class="px-4 pb-4 sm:px-0">
      {{ description }}
    </div>
    <div class="p-4 mb-8 bg-tfgreen text-lg font-normal text-white border-b-2 border-tfdarkblue">
      Visit the <a class="underline hover:text-tflightblue" href="{{ event.link }}" target="_blank">event scheduling website</a> for all other details and how to RSVP.
    </div>
  </div>
{% endblock %}
