{% extends "base.html" %}

{% block title %}{{ group.name }} - techfrederick Community{% endblock %}

{% block content %}
  <div class="max-w-3xl mx-auto">
    <h1 class="text-2xl sm:text-5xl text-center text-slate-700 font-extralight tracking-widest leading-relaxed mb-4 py-8 border-b-4 border-{{ group.color }}">{{ group.name }}</h1>
    <img class="w-full pb-4 bg-white" src="{{ group.hero_image }}">
    <div class="px-4 pb-4 sm:px-0">
      {{ group.description }}
    </div>
    <div class="p-4 mb-8 bg-tfgreen text-lg font-normal text-white border-b-2 border-tfdarkblue">
      Visit the <a class="underline hover:text-tflightblue" href="{{ group.url }}" target="_blank">{{ group.name }} website</a> for all the latest news and information.
    </div>
  </div>
{% endblock %}
