<p>
This is currently a hack to get the CSS file to have the colors of the different groups.
Previously, we could do this during the build phase because the colors were kept
in a flat file for each group. With color config moving to a db, that system doesn't work.
We'll need to figure out some other way to make sure to get these added.
Maybe we can safelist all border colors.
</p>
<p class="border-orange-400">AWS Frederick</p>
<p class="border-fuchsia-600">Frederick Code &amp; Coffee</p>
<p class="border-yellow-400">Frederick Open Source</p>
<p class="border-red-600">Frederick Web Tech</p>
<p class="border-blue-500">Python Frederick</p>
<p class="border-sky-600">WordPress Frederick</p>
<p class="border-sky-500">FITCI</p>
